<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>

    <div class="Contenedor">
        <nav id="menu">
            <ul id="BarraNavegacion">
                <li>
                    <a class="buttons" href="/Home/Index"><span class="BotonesNavegacion">Home</span></a>
                </li>
                <li>
                    <a class="buttons" href="/Home/Ejercicios"><span class="BotonesNavegacion">Ejercicios</span></a>
                </li>
                <li>
                    <a class="buttons" href="/Home/Contacto"><span class="BotonesNavegacion">Contacto</span></a>
                </li>
            </ul>
        </nav>
        <div class="BodyContent">
            @RenderBody()
        </div>
        <footer>
        </footer>
    </div>
</body>
</html>