<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ejercicio de selectores</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Ejercicio6.css">

</head>
<body>
    <h1>Universidad de Buenos Aires</h1>
    <ul>
        <li><a href="">Presentación</a></li>
        <li><a href="https://www.google.com.ar">Estudios</a></li>
        <li><a href="#">Alumnos</a></li>
        <li><a href="#">Deportes</a></li>
        <li><a href="#">Servicios</a></li>
    </ul>
</body>
</html>

