<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>

    <h2>Lista de ejercicios</h2>

    <ul>
        <li>
            <a href="/Home/Ejercicio1">Ejercicios - Cómo se usa 1</a>
        </li>
        <li>
            <a href="/Home/Ejercicio2">Ejercicio 2 - Cómo se usa 2</a>
        </li>
        <li>
            <a href="/Home/Ejercicio3">Ejercicio 3 - Cómo se usa 3</a>
        </li>
        <li>
            <a href="/Home/Ejercicio4">Ejercicios - Selectores 1</a>
        </li>
        <li>
            <a href="/Home/Ejercicio5">Ejercicios - Selectores 2</a>
        </li>
        <li>
            <a href="/Home/Ejercicio6">Ejercicios - Selectores 3</a>
        </li>
        <li>
            <a href="/Home/Ejercicio7">Ejercicios - Maquetación diseño elástico</a>
        </li>
        <li>
            <a href="/Home/Ejercicio8">Ejercicios - Maquetación diseño fijo</a>
        </li>
    </ul>

</body>
</html>
