
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Ejercicios HTML - Clase 2</h1>
    <ul>
        <li>
            <a href="/Home/Ejercicio1">Ejercico 1</a>
        </li>
        <li>
            <a href="/Home/Ejercicio2">Ejercico 2</a>
        </li>
        <li>
            <a href="/Home/Ejercicio3">Ejercico 3</a>
        </li>
        <li>
            <a href="/Home/EjercicioEnlaces">Ejercico Enlaces</a>
        </li>
    </ul>
</body>
</html>
