.Contenedor {
    width: 80%;
    margin: auto;
}

#BarraNavegacion {
    background-color: #bdb76b;
    border-radius: 5px;
    padding: 10px;
}

    #BarraNavegacion li {
        display: inline;
        margin-right: 30px;
    }

a.buttons{
    text-decoration: none;
    padding: 10px;
    color: black;
}
    a.buttons:hover {
        color: black;
        background-color: #99944e;
    }
